{% extends "base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <div class="m-auto auth-form-container">
        <h2 class="text-center">
            Request password reset
        </h2>
        <hr>
        <p class="small">
            Enter the email address you registered with and we will send you a link to reset your password.
        </p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form_field(form.email, autofocus=true) }}
            {{ form_field(form.submit, class='btn-primary w-100') }}
        </form>
    </div>
{% endblock content %}
