{% extends "base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <div class="m-auto auth-form-container">
        <h2 class="text-center">
            Log in to your account
        </h2>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form_field(form.username, autofocus=true) }}
            {{ form_field(form.password) }}
            {{ form_field(form.remember) }}
            {{ form_field(form.submit, class='btn-primary w-100') }}
            <p class="text-center">
                <a href="{{ url_for('auth.register') }}">Create account</a>
                •
                <a href="#">Reset password</a>
            </p>
        </form>
    </div>
{% endblock content %}
