{% extends "base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <div class="m-auto auth-form-container">
        <h2 class="text-center">
            Create an account
        </h2>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form_field(form.email, autofocus=true) }}
            {{ form_field(form.username) }}
            {{ form_field(form.password) }}
            {{ form_field(form.confirm_password) }}
            {{ form_field(form.submit, class='btn-primary w-100') }}
            <p class="text-center">
                <a href="{{ url_for('auth.login') }}">Already have an account?</a>
            </p>
        </form>
    </div>
{% endblock content %}
