{% extends "base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <div class="m-auto auth-form-container">
        <h2 class="text-center">
            Reset your password
        </h2>
        <hr>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form_field(form.password, autofocus=true) }}
            {{ form_field(form.confirm_password) }}
            {{ form_field(form.submit, class='btn-primary w-100') }}
        </form>
    </div>
{% endblock content %}
