<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scratch</title>
    </head>
    <body>
        <div>
            Scratch:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Log in</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
