{% extends "_base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.user', username=game.creator.username) }}">{{ game.creator.username }}</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.game', id=game.id) }}">{{ game.title }}</a>
            </li>
        </ol>
    </nav>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form_field(form.title) }}
        {{ form_field(form.tagline) }}
        {{ form_field(form.description) }}
        {{ form_field(form.submit) }}
    </form>
{% endblock content %}
