{% extends "_base.html" %}

{% from "macros.html" import form_field %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ url_for('main.user', username=current_user.username) }}">{{ current_user.username }}</a>
            </li>
            <li class="breadcrumb-item">
                {% if game %}
                    <a href="{{ url_for('main.game', id=game.id) }}">{{ game.title }}</a>
                {% else %}
                    New game
                {% endif %}
            </li>
        </ol>
    </nav>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-lg-8">
                {{ form.hidden_tag() }}
                {{ form_field(form.title) }}
                {{ form_field(form.tagline) }}
                {{ form_field(form.description) }}
                {% if not game %}
                    {{ form_field(form.upload) }}
                {% endif %}
                {{ form_field(form.submit) }}
            </div>
            <div class="col-lg-4">
                {% if not game %}
                    {{ form_field(form.cover) }}
                    {{ form_field(form.screenshots) }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
