{% extends "_base.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(autofocus=true) }}
            {% for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.tagline.label }}
            {{ form.tagline() }}
            {% for error in form.tagline.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description(cols=50, rows=4) }}
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>{{ form.submit() }}</div>
    </form>
{% endblock %}
