{% extends "base.html" %}

{% block content %}
    {% for upload in uploads %}
        {% if upload.is_web_build %}
            <iframe src="{{ upload.url }}" frameborder="0" allowfullscreen="true" class="d-block mx-auto" width="1280" height="720"></iframe>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-8">
            <h1>
                {{ game.title }}
            </h1>
            {% if game.tagline %}
                <p>
                    {{ game.tagline }}
                </p>
            {% endif %}
            {% if game.description %}
                <p>
                    {{ game | markdown | safe }}
                </p>
            {% endif %}
            <p>
                Created: {{ moment(game.created_at).format('LL') }} ({{ moment(game.created_at).fromNow() }})
            </p>
            <p>
                Updated: {{ moment(game.updated_at).format('LL') }} ({{ moment(game.updated_at).fromNow() }})
            </p>
            {% for upload in uploads %}
                {% if not upload.is_web_build %}
                    <p>
                        {{ upload.filename }}
                    </p>
                    <a class="btn btn-primary btn-lg" href="{{ upload.url }}" target="_blank">Download</a>
                {% endif %}
            {% endfor %}
            <p>
                <a href="{{ url_for('main.user', username=game.creator.username) }}">View creator</a>
            </p>
            {% if game.creator == current_user %}
                <p>
                    <a href="{{ url_for('main.edit_game', id=game.id) }}">Edit game</a>
                </p>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% for screenshot in screenshots %}
                <img src="{{ screenshot.url }}" class="mb-3 w-100" alt="Screenshot {{ screenshot.order }}">
            {% endfor %}
        </div>
    </div>
{% endblock content %}
