{% extends "base.html" %}

{% block content %}
    <h1>
        {{ game.title }}
    </h1>
    {% if game.tagline %}
        <p>
            {{ game.tagline }}
        </p>
    {% endif %}
    {% if game.description %}
        <p>
            {{ game.markdown() | safe }}
        </p>
    {% endif %}
    <p>Created: {{ moment(game.created_at).format('LL') }} ({{ moment(game.created_at).fromNow() }})</p>
    <p>Updated: {{ moment(game.updated_at).format('LL') }} ({{ moment(game.updated_at).fromNow() }})</p>
    {% if game.creator == current_user %}
        <p>
            <a href="{{ url_for('main.edit_game', id=game.id) }}">Edit game</a>
        </p>
    {% endif %}
    <p>
        <a href="{{ url_for('main.user', username=game.creator.username) }}">View creator</a>
    </p>
{% endblock content %}
