{% extends "base.html" %}

{% block content %}
    <div class="inner-container mx-auto">
        {% if user == current_user %}
            <p>
                <a href="{{ url_for('main.settings') }}">Edit profile</a>
            </p>
        {% endif %}
        <h1>
            {{ user.username }}
        </h1>
        {% if user.website %}
            <p>
                <a href="{{ user.website }}">{{ user.website }}</a>
            </p>
        {% endif %}
        {% if user.about %}
            <p>
                {{ user.about }}
            </p>
        {% endif %}
        <div class="row row-cols-2 row-cols-md-3 g-3">
            {% for game in games %}
                <div class="col">
                    {% include "game_tile.html" %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
